.header {
  background-color: var(--primary-color);
  padding: 16px;
  box-shadow: var(--shadow);
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--white);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.activeLink {
  color: var(--white);
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--secondary-color);
}
