.container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary-color);
}

.error {
  color: red;
  padding: 16px;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;
}
